#intro {
  position: absolute;
  top: 1rem;
  box-shadow: none;
  background-color: transparent;
}

.IEEE-logo {
  font-size:28px;
  padding-left:60px;
}

.IEEE-logo:hover {
  color: red;
}

.navbar-li {
  font-size: 18px;
}

.navbar-li:hover {
  background-color: rgba(0, 0, 0, 0);
  color: red !important;
}
