.IEEE-logo{
  font-size: 20px;
}

.IEEE-logo:hover {
  background-color: rgba(0, 0, 0, 0);
  color: red !important;
}

.navbar-li {
  font-size: 18px;
}

.navbar-li:hover {
  background-color: rgba(0, 0, 0, 0);
  color: red !important;
}

@media only screen and (min-width: 993px){
  .IEEE-logo{
    font-size: 30px;
  }
}
